.dashboard-container {
    height: 100%;
    display: flex;
    direction: column;
  }
  
  .sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
    cursor: pointer;
  }
  
  .main-content {
    flex: 1;
    
    flex-direction: row;
    width: 100%;
  }
  
  .navbar {
    height: 50px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  .widgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }
  
  .widget {
    background-color: white;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

    
  .download {
    width: 100px; /* Adjust size as needed */
    height: 24px;
    cursor: pointer;
    text-align: right;
    
  }
  